body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

ul {
    padding: 0;
}

.title {
    text-decoration: underline;
    font-weight: 600;
}

.clickable {
    cursor:pointer;
    user-select: none;
}

.header {
    padding: 0.25em;
    margin-left: 1em;
}

.header span {
    margin-right: 1em;
}

.chart-div, .options-div {
    display: inline-block;
}

/* --- Sidebar --- */
#sidebar-div ul {
    list-style-type: none;
}

#sidebar-div li {
    margin: 0.5em 0em;
}

#sidebar-div {
    float: left;
    padding: 2em;
}

.ticker-item {
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.5em;
    font-weight: bold;
    border: 2px solid #0C6991;
}

.ticker-remove {
    margin-left: 0.25rem;
    cursor: pointer;
}

#period-form input {
    margin: 0.5em;
}

/* --- Options Table --- */
#options-table-div {
    position: absolute;
    top: 1em;
    text-align: center;
}

#options-table-div div {
    display: inline-block;
}

#options-table-div label {
    vertical-align: middle;
}

#options-table th {
    padding: 0.5em 1.5em;
}

#options-table tr:nth-child(even) {
    background: #3b80b355;
}

#options-table td {
    padding: 0.25em 0em;
}

/* --- Loading Ripple --- 
Credit: https://loading.io/css/ */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
}
.lds-ripple div {
    position: absolute;
    border: 8px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 72px;
        left: 72px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 148px;
        height:148px;
        opacity: 0;
    }
}

/* --- Loading Ripple --- */

.lds-ripple .inner-div {
    background-color: #3b80b3;
}

.lds-ripple {
    position: absolute;
    top: 15%;
    margin-left: 5%;
}

/* --- Toggle Switch --- 
Credit https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }